body{
  margin: 0;
  background-color: #231E23;
  
}

.text-header{
  color: #BF1363;
  font-family: 'Anton', sans-serif;
  font-size: 8rem;
  margin: auto;
  margin-top: 20%;
}

.row{
  margin-top: 10%;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #DEEEEA;
}

.list-c{
  background-color: #DEEEEA;
  border-radius: 15px;
  width: 50%;
  padding-left: 7%;
  padding-top: 0.01rem;
  padding-bottom: 2rem;
  margin-top: 5%;
}
.nom-arch{
  color: #BF1363;
  font-family: 'Rubik', sans-serif;;
}